<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                class="d-inline-block align-text-top">
            RealTimeProducts
        </a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-2">
            <form>
                <div class="mb-3">
                    <label for="" class="form-label">Titulo del producto</label>
                    <input type="text" class="form-control" id="title" aria-describedby="">
                    <label for="" class="form-label">Code del producto</label>
                    <input type="text" class="form-control" id="code" aria-describedby="">
                    <label for="" class="form-label">Descripcion del producto</label>
                    <input type="text" class="form-control" id="description" aria-describedby="">
                    <label for="" class="form-label">Precio del producto</label>
                    <input type="number" class="form-control" id="price" aria-describedby="">
                    <label for="" class="form-label">Imagen del producto</label>
                    <input type="text" class="form-control" id="thumbail" aria-describedby="">
                    <label for="" class="form-label">Stock del producto</label>
                    <input type="number" class="form-control" id="stock" aria-describedby="">
                </div>
                <button type="submit" class="btn btn-primary" id="btnAdd">Agregar producto</button>
            </form>
            
        </div>
        <div class="col col-lg-2">
            <form>
                <div class="mb-3">
                    <label for="" class="form-label">Ingresa el id del producto a eliminar </label>
                    <input type="number" class="form-control" id="prodID" aria-describedby="">
                </div>
                <button type="submit" class="btn btn-danger" id="btnDeleted">Borrar producto</button>
            </form>
        </div>

        <div class="col col-lg-8">
            <table class="table table-dark table-striped ">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">CODE</th>
                        <th scope="col">TITLE</th>
                        <th scope="col">DESCRIPCION</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">THUMBAIL</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">DISPONIBLE</th>
                    </tr>
                </thead>
                <tbody id="listProducts">
          
                </tbody>
            </table>
        </div>


    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>